/* aplicar los estilos en css modules con classname. Aplicarlos al tag se aplican de forma global. */
.button {
  background-color: red;
  color: white;
  border: 2px solid #ccff33;
  border-radius: 30px;
  padding: 0.6rem;
  margin: 1em;
}
